
*{ margin:0; padding:0;}

h1{
    margin:20px 0px;
}

.container{
    display:flex;
    flex-direction:column;
    margin: auto;
    margin-top:100px;
    width:700px;
}

.categories{
    display:flex;
    width: 36%;
    padding-top:10px;
}

.category{
    flex:auto;
    margin-right: 5px;
}
.board__header{
    display:flex;
    padding:10px 0px;
}
.board__header h5{
    margin-top:5px;
}
._btn{
    padding:3px 7px 2px;
    border:1px solid rgba(0, 135, 189);
    color:rgb(0, 135, 189);
    background:white;
}
._btn_gnb{
    margin-left:auto;
}
.board__Subject{
    display:block;
}


.board__table{
    width:100%;
    border-collapse: collapse;
}
.board__table tr:first-child{
    border-top:1px solid black;
    height:35px;
}
.board__table tr:not(:first-child) {
    border-top:1px solid grey;
    height:32px;
}
.board__table tr:last-child {
    border-bottom:1px solid grey;
}
.board__table td:nth-child(1){width:50px;}
.board__table td:nth-child(2){width:20px;}
.board__table td:nth-child(3){max-width:100px;}
.board__table td:nth-child(4){width:50px;}
.board__table td:nth-child(5){width:50px;}
.board__table td:nth-child(6){width:50px;}
.board__table td:nth-child(7){width:50px;}
.board__table td:nth-child(8){width:50px;}